<mat-toolbar color="accent">
  <button mat-icon-button class="example-icon" routerLink="/home" aria-label="Example icon-button with menu icon">
    <img src="../../../assets/trex_logo.png" alt="Angular" width="45" height="45" />

    <span>TeeRex Store</span>
  </button>
  <span class="example-spacer"></span>

  <button mat-raised-button class="example-icon"  routerLink="/home" aria-label="Example icon-button with menu icon">
    <span>Product</span>
  </button>

  <span class="example-space"></span>
  <button mat-raised-button class="example-icon"  routerLink="/cart" aria-label="Example icon-button with menu icon">
    <mat-icon>shopping_cart</mat-icon>
    <span [matBadge]="cartItemNumber > 0 ? cartItemNumber : null" matBadgeOverlap="false">
        Your Cart
      </span>
  </button>
</mat-toolbar>
