<div class="flex-container">
  <mat-card class="flex-item" *ngFor="let article of teesData">
    <img mat-card-image src={{article.imageURL}} alt="{{article.name}}" height="300px" width="297px">
    <mat-card-header>
      <mat-card-title></mat-card-title>
    </mat-card-header>
    <mat-card-content>{{article.name}}</mat-card-content>
    <mat-card-content>{{article.price}} {{article.currency}}</mat-card-content>
    <mat-action-row>
      <button mat-raised-button color="accent" aria-label="Favorite" (click)="onAddCardClick()">
        Add to Cart
      </button>
    </mat-action-row>
  </mat-card>
</div>