<div class="flex-container">
  <mat-card class="flex-item" *ngFor="let article of cartProductList">
    <img mat-card-image src={{article.imageURL}} alt="{{article.name}}">
    <mat-card-header>
      <mat-card-title></mat-card-title>
    </mat-card-header>
    <mat-card-content>{{article.name}}</mat-card-content>
    <mat-card-content>{{article.price}} {{article.currency}}</mat-card-content>
    <mat-action-row>
      <input type="number" [(ngModel)]="article.num" min="0" max="{{article.quantity}}" (ngModelChange)="modelChanged($event)" />
    </mat-action-row>
  </mat-card>


  <span> Total Item Quantity :
    <input matInput type="text" placeholder="Enter your name" value="{{totalItems}}" readonly>
  </span>
  <span> Total price : 
    <input matInput type="text" placeholder="Enter your name" value="{{totalPrice}}" readonly>
  </span>
</div>